{
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 120,
  "overrides": [
    {
      "files": ["libs/database/src/migrations/**/*.ts"],
      "options": {
        "printWidth": 1000
      }
    }
  ]
}
